Repository Hostdon/pleroma: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build, spec-build, unit-testing, unit-testing-rum, lint, analysis, cycles

build:
  stage: build
  script:
  - mix compile --force

spec-build:
  stage: test
  artifacts:
    paths:
    - spec.json
  script:
  - mix pleroma.openapi_spec spec.json

unit-testing:
  stage: test
  retry: 2
  cache:
    key:
      files:
      - mix.lock
    paths:
    - deps
    - _build
    policy: pull
  services:
  - name: postgres:13
    alias: postgres
    command:
    - postgres
    - -c
    - fsync=off
    - -c
    - synchronous_commit=off
    - -c
    - full_page_writes=off
  script:
  ...

unit-testing-rum:
  stage: test
  retry: 2
  cache:
    key:
      files:
      - mix.lock
    paths:
    - deps
    - _build
    policy: pull
  services:
  - name: minibikini/postgres-with-rum:12
    alias: postgres
    command:
    - postgres
    - -c
    - fsync=off
    - -c
    - synchronous_commit=off
    - -c
    - full_page_writes=off
  variables:
  ...

lint:
  stage: test
  cache:
    key:
      files:
      - mix.lock
    paths:
    - deps
    - _build
    policy: pull
  script:
  - mix format --check-formatted

analysis:
  stage: test
  cache:
    key:
      files:
      - mix.lock
    paths:
    - deps
    - _build
    policy: pull
  script:
  - mix credo --strict --only=warnings,todo,fixme,consistency,readability

cycles:
  stage: test
  image: elixir:1.11
  cache: {}
  script:
  - mix deps.get
  - mix compile
  - mix xref graph --format cycles --label compile | awk '{print $0} END{exit ($0 != "No cycles found")}'

remove default emoji file
  config/emoji.txt
  test/config/emoji.txt
Due: none

we don't need to purge emoji.txt now
  .woodpecker.yml
Due: none

use :discard instead of cancel
  lib/pleroma/workers/receiver_worker.ex
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

fix tests
  test/pleroma/web/federator_test.exs
  test/pleroma/workers/receiver_worker_test.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

mix format
  config/description.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

bump version to 3.1.0
  mix.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

add finch outbound proxy support (#158)
  CHANGELOG.md
  config/description.exs
  docs/docs/configuration/cheatsheet.md
  lib/pleroma/application.ex
  lib/pleroma/http/adapter_helper.ex
  lib/pleroma/http/adapter_helper/default.ex
  lib/pleroma/http/adapter_helper/gun.ex
  lib/pleroma/http/adapter_helper/hackney.ex
  test/pleroma/http/adapter_helper/gun_test.exs
  test/pleroma/http/adapter_helper/hackney_test.exs
  test/pleroma/http/adapter_helper_test.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

fix compatibility with meilisearch (#164)
  CHANGELOG.md
  lib/mix/tasks/pleroma/search/meilisearch.ex
  lib/pleroma/release_tasks.ex
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

only return create objects for ES search (#165)
  CHANGELOG.md
  lib/pleroma/search/elasticsearch.ex
  lib/pleroma/search/elasticsearch/store.ex
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

API compatibility with fedibird, frontend config (#163)
  CHANGELOG.md
  config/config.exs
  docs/docs/configuration/frontend_management.md
  lib/pleroma/web/masto_fe_controller.ex
  lib/pleroma/web/mastodon_api/views/status_view.ex
  lib/pleroma/web/mastodon_api/websocket_handler.ex
  lib/pleroma/web/pleroma_api/controllers/emoji_reaction_controller.ex
  lib/pleroma/web/router.ex
  lib/pleroma/web/streamer.ex
  lib/pleroma/web/templates/masto_fe/fedibird.index.html.eex
  lib/pleroma/web/templates/masto_fe/glitchsoc.index.html.eex
  lib/pleroma/web/views/masto_fe_view.ex
  lib/pleroma/web/views/streamer_view.ex
  test/pleroma/integration/mastodon_websocket_test.exs
  test/pleroma/notification_test.exs
  test/pleroma/web/masto_fe_controller_test.exs
  test/pleroma/web/mastodon_api/views/status_view_test.exs
  test/pleroma/web/pleroma_api/controllers/emoji_reaction_controller_test.exs
  test/pleroma/web/streamer_test.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

only put linked mfm in source (#171)
  config/description.exs
  lib/pleroma/web/activity_pub/object_validators/article_note_page_validator.ex
  test/fixtures/misskey/mfm_x_format.json
  test/pleroma/web/activity_pub/object_validators/article_note_page_validator_test.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

parser MFM server-side (#172)
  lib/pleroma/web/activity_pub/object_validators/article_note_page_validator.ex
  lib/pleroma/web/common_api/utils.ex
  mix.exs
  mix.lock
  priv/scrubbers/default.ex
  test/pleroma/web/activity_pub/object_validators/article_note_page_validator_test.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

add changelog entry
  CHANGELOG.md
Due: none

Update OTP systemd service
  rel/files/installation/akkoma.service
Due: none

Update OTP OpenRC service
  rel/files/installation/init.d/akkoma
Due: none

oauth2 fixes (#177)
  lib/pleroma/helpers/auth_helper.ex
  lib/pleroma/web/mastodon_api/controllers/auth_controller.ex
  lib/pleroma/web/o_auth/o_auth_controller.ex
  lib/pleroma/web/o_auth/token.ex
  lib/pleroma/web/o_auth/token/query.ex
  lib/pleroma/web/plugs/o_auth_plug.ex
  lib/pleroma/web/plugs/set_user_session_id_plug.ex
  lib/pleroma/web/router.ex
  mix.exs
  test/pleroma/web/o_auth/o_auth_controller_test.exs
  test/pleroma/web/plugs/o_auth_plug_test.exs
  test/pleroma/web/plugs/set_user_session_id_plug_test.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

add visibility check on quote (#178)
  lib/pleroma/web/mastodon_api/views/status_view.ex
  test/pleroma/web/mastodon_api/views/status_view_test.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Revert "oauth2 fixes (#177)"
  lib/pleroma/helpers/auth_helper.ex
  lib/pleroma/web/mastodon_api/controllers/auth_controller.ex
  lib/pleroma/web/o_auth/o_auth_controller.ex
  lib/pleroma/web/o_auth/token.ex
  lib/pleroma/web/o_auth/token/query.ex
  lib/pleroma/web/plugs/o_auth_plug.ex
  lib/pleroma/web/plugs/set_user_session_id_plug.ex
  lib/pleroma/web/router.ex
  mix.exs
  test/pleroma/web/o_auth/o_auth_controller_test.exs
  test/pleroma/web/plugs/o_auth_plug_test.exs
  test/pleroma/web/plugs/set_user_session_id_plug_test.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Fix oauth2 (for real) (#179)
  lib/pleroma/helpers/auth_helper.ex
  lib/pleroma/web/mastodon_api/controllers/auth_controller.ex
  lib/pleroma/web/o_auth/o_auth_controller.ex
  lib/pleroma/web/o_auth/token.ex
  lib/pleroma/web/o_auth/token/query.ex
  lib/pleroma/web/plugs/o_auth_plug.ex
  lib/pleroma/web/plugs/set_user_session_id_plug.ex
  lib/pleroma/web/router.ex
  mix.exs
  test/pleroma/web/o_auth/o_auth_controller_test.exs
  test/pleroma/web/plugs/o_auth_plug_test.exs
  test/pleroma/web/plugs/set_user_session_id_plug_test.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Revert "Fix oauth2 (for real) (#179)"
  lib/pleroma/helpers/auth_helper.ex
  lib/pleroma/web/mastodon_api/controllers/auth_controller.ex
  lib/pleroma/web/o_auth/o_auth_controller.ex
  lib/pleroma/web/o_auth/token.ex
  lib/pleroma/web/o_auth/token/query.ex
  lib/pleroma/web/plugs/o_auth_plug.ex
  lib/pleroma/web/plugs/set_user_session_id_plug.ex
  lib/pleroma/web/router.ex
  mix.exs
  test/pleroma/web/o_auth/o_auth_controller_test.exs
  test/pleroma/web/plugs/o_auth_plug_test.exs
  test/pleroma/web/plugs/set_user_session_id_plug_test.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

update mfm_parser
  mix.exs
  mix.lock
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

use public temple dep
  mix.exs
  mix.lock
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

add language tags
  README.md
Due: none

allow new mfm classes
  mix.exs
  mix.lock
  priv/scrubbers/default.ex
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

generate-keys-at-registration-time (#181)
  lib/mix/pleroma.ex
  lib/mix/tasks/pleroma/user.ex
  lib/pleroma/user.ex
  test/pleroma/user_test.exs
  test/pleroma/web/activity_pub/object_validators/article_note_page_validator_test.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

generate-keys-at-registration-time (#181)
  lib/mix/pleroma.ex
  lib/mix/tasks/pleroma/user.ex
  lib/pleroma/user.ex
  test/pleroma/user_test.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

reuse valid oauth tokens (#182)
  lib/pleroma/helpers/auth_helper.ex
  lib/pleroma/web/mastodon_api/controllers/auth_controller.ex
  lib/pleroma/web/o_auth/authorization.ex
  lib/pleroma/web/o_auth/o_auth_controller.ex
  lib/pleroma/web/o_auth/token.ex
  lib/pleroma/web/o_auth/token/query.ex
  test/pleroma/web/o_auth/o_auth_controller_test.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Add support for setting language in instance metadata (#183)
  CHANGELOG.md
  config/config.exs
  config/description.exs
  lib/pleroma/web/mastodon_api/views/instance_view.ex
  test/pleroma/web/mastodon_api/controllers/instance_controller_test.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Update min elixir version in mix.exs to 1.12
  mix.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Add ability to obfuscate domains in MRF transparency
  CHANGELOG.md
  config/config.exs
  docs/docs/configuration/cheatsheet.md
  lib/pleroma/web/activity_pub/mrf.ex
  lib/pleroma/web/activity_pub/mrf/simple_policy.ex
  test/pleroma/web/activity_pub/mrf/simple_policy_test.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

GTS: cherry-picks and collection usage (#186)
  lib/pleroma/collections/fetcher.ex
  lib/pleroma/web/activity_pub/object_validators/article_note_page_validator.ex
  lib/pleroma/web/activity_pub/object_validators/common_fixes.ex
  lib/pleroma/web/activity_pub/object_validators/create_generic_validator.ex
  lib/pleroma/web/activity_pub/transmogrifier.ex
  lib/pleroma/web/plugs/http_signature_plug.ex
  test/pleroma/collections/collections_fetcher_test.exs
  test/pleroma/web/activity_pub/activity_pub_controller_test.exs
  test/pleroma/web/activity_pub/object_validators/article_note_page_validator_test.exs
  test/pleroma/web/activity_pub/transmogrifier/note_handling_test.exs
  test/pleroma/web/plugs/http_signature_plug_test.exs
  test/support/http_request_mock.ex
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Disconnect streaming sessions when token is revoked
  lib/pleroma/application.ex
  lib/pleroma/web/mastodon_api/websocket_handler.ex
  lib/pleroma/web/o_auth/token/strategy/revoke.ex
  lib/pleroma/web/streamer.ex
  mix.exs
  mix.lock
  test/pleroma/integration/mastodon_websocket_test.exs
  test/pleroma/web/streamer_test.exs
  test/support/websocket_client.ex
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Automatic status translation (#187)
  CHANGELOG.md
  config/config.exs
  config/description.exs
  docs/docs/configuration/cheatsheet.md
  lib/pleroma/akkoma/translators/deepl.ex
  lib/pleroma/akkoma/translators/libre_translate.ex
  lib/pleroma/akkoma/translators/translator.ex
  lib/pleroma/application.ex
  lib/pleroma/web/api_spec/operations/status_operation.ex
  lib/pleroma/web/mastodon_api/controllers/status_controller.ex
  lib/pleroma/web/mastodon_api/views/instance_view.ex
  lib/pleroma/web/router.ex
  test/pleroma/translators/deepl_test.exs
  test/pleroma/translators/libre_translate_test.exs
  test/pleroma/web/mastodon_api/controllers/status_controller_test.exs
Due: build, spec-build, unit-testing, unit-testing-rum, lint, analysis, cycles

ensure default value is sane
  config/config.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

add extra instructions to placeholder page
  priv/static/index.html
Due: none

include frontend installation document on all install guides
  docs/docs/configuration/cheatsheet.md
  docs/docs/installation/alpine_linux_en.md
  docs/docs/installation/arch_linux_en.md
  docs/docs/installation/debian_based_en.md
  docs/docs/installation/fedora_based_en.md
  docs/docs/installation/freebsd_en.md
  docs/docs/installation/frontends.include
  docs/docs/installation/gentoo_en.md
  docs/docs/installation/migrating_to_akkoma.md
  docs/docs/installation/netbsd_en.md
  docs/docs/installation/openbsd_en.md
  docs/docs/installation/otp_en.md
  docs/docs/installation/otp_redhat_en.md
Due: none

Allow listing languages, setting source language (#192)
  lib/pleroma/akkoma/translators/deepl.ex
  lib/pleroma/akkoma/translators/libre_translate.ex
  lib/pleroma/akkoma/translators/translator.ex
  lib/pleroma/web/akkoma_api/controllers/translation_controller.ex
  lib/pleroma/web/api_spec/operations/status_operation.ex
  lib/pleroma/web/api_spec/operations/translate_operation.ex
  lib/pleroma/web/mastodon_api/controllers/status_controller.ex
  lib/pleroma/web/router.ex
  test/pleroma/translators/deepl_test.exs
  test/pleroma/translators/libre_translate_test.exs
Due: build, spec-build, unit-testing, unit-testing-rum, lint, analysis, cycles

Path conditions:
  build: any of: **/*.ex, **/*.exs, mix.lock
  spec-build: any of: lib/pleroma/web/api_spec/**/*.ex, lib/pleroma/web/api_spec.ex
  unit-testing: any of: **/*.ex, **/*.exs, mix.lock
  unit-testing-rum: any of: **/*.ex, **/*.exs, mix.lock
  lint: any of: **/*.ex, **/*.exs, mix.lock
  analysis: any of: **/*.ex, **/*.exs, mix.lock
  cycles: any of: **/*.ex, **/*.exs, mix.lock
