Repository Hostdon/pleroma: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build, spec-build, unit-testing, unit-testing-rum, lint, analysis, cycles

Path conditions:
  build: any of: **/*.ex, **/*.exs, mix.lock
  spec-build: any of: lib/pleroma/web/api_spec/**/*.ex, lib/pleroma/web/api_spec.ex
  unit-testing: any of: **/*.ex, **/*.exs, mix.lock
  unit-testing-rum: any of: **/*.ex, **/*.exs, mix.lock
  lint: any of: **/*.ex, **/*.exs, mix.lock
  analysis: any of: **/*.ex, **/*.exs, mix.lock
  cycles: any of: **/*.ex, **/*.exs, mix.lock

Translated using Weblate (Catalan)
  priv/gettext/ca/LC_MESSAGES/config_descriptions.po
  priv/gettext/ca/LC_MESSAGES/posix_errors.po
  priv/gettext/ca/LC_MESSAGES/static_pages.po
Due: none

add guards around fix misskey content
  lib/pleroma/web/activity_pub/object_validators/article_note_page_validator.ex
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

ensure we can't run the same clause of fix_quote_url more than once
  lib/pleroma/web/activity_pub/transmogrifier.ex
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

do the same for soapbox
  lib/pleroma/web/activity_pub/transmogrifier.ex
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Added translation using Weblate (Catalan)
  priv/gettext/ca/LC_MESSAGES/config_descriptions.po
  priv/gettext/ca/LC_MESSAGES/errors.po
  priv/gettext/ca/LC_MESSAGES/posix_errors.po
  priv/gettext/ca/LC_MESSAGES/static_pages.po
Due: none

ensure extra info in fix_follow_state prints
  lib/mix/tasks/pleroma/user.ex
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Use uppercase HTTP HEAD method for media preview proxy request (#128)
  lib/pleroma/web/media_proxy/media_proxy_controller.ex
  test/pleroma/web/media_proxy/media_proxy_controller_test.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

allow small/center tags in misskeymarkdown (#132)
  lib/pleroma/formatter.ex
  lib/pleroma/web/common_api/utils.ex
  priv/scrubbers/default.ex
  test/pleroma/web/activity_pub/object_validators/article_note_page_validator_test.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Translated using Weblate (Catalan)
  priv/gettext/ca/LC_MESSAGES/config_descriptions.po
  priv/gettext/ca/LC_MESSAGES/errors.po
  priv/gettext/ca/LC_MESSAGES/static_pages.po
Due: none

expose bubble instances via nodeinfo (#136)
  lib/pleroma/web/nodeinfo/nodeinfo.ex
  lib/pleroma/web/nodeinfo/nodeinfo_controller.ex
  test/pleroma/web/node_info_test.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Support reaching user@sub.domain.tld at user@domain.tld (#134)
  CHANGELOG.md
  config/config.exs
  config/test.exs
  docs/docs/configuration/how_to_serve_another_domain_for_webfinger.md
  lib/pleroma/http.ex
  lib/pleroma/web/activity_pub/activity_pub.ex
  lib/pleroma/web/web_finger.ex
  test/fixtures/tesla_mock/framatube.org_host_meta
  test/fixtures/tesla_mock/status.alpicola.com_host_meta
  test/fixtures/webfinger/masto-host-meta.xml
  test/fixtures/webfinger/masto-user.json
  test/fixtures/webfinger/masto-webfinger.json
  test/fixtures/webfinger/pleroma-host-meta.xml
  test/fixtures/webfinger/pleroma-user.json
  test/fixtures/webfinger/pleroma-webfinger.json
  test/pleroma/user_test.exs
  test/pleroma/web/twitter_api/remote_follow_controller_test.exs
  test/pleroma/web/web_finger/web_finger_controller_test.exs
  test/pleroma/web/web_finger_test.exs
  test/support/http_request_mock.ex
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Merge mrf_simple-reject with quarantine (#137)
  CHANGELOG.md
  config/config.exs
  config/description.exs
  docs/docs/configuration/cheatsheet.md
  lib/pleroma/config/deprecation_warnings.ex
  lib/pleroma/web/activity_pub/publisher.ex
  test/pleroma/web/activity_pub/publisher_test.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

local-only-fixed (#138)
  lib/pleroma/web/activity_pub/activity_pub.ex
  lib/pleroma/web/activity_pub/visibility.ex
  lib/pleroma/web/mastodon_api/controllers/timeline_controller.ex
  priv/repo/migrations/20220509180452_change_thread_visibility_to_be_local_only_aware.exs
  test/pleroma/web/activity_pub/activity_pub_controller_test.exs
  test/pleroma/web/mastodon_api/controllers/account_controller_test.exs
  test/pleroma/web/mastodon_api/controllers/filter_controller_test.exs
  test/pleroma/web/mastodon_api/controllers/status_controller_test.exs
  test/pleroma/web/mastodon_api/controllers/timeline_controller_test.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Update default paths
  lib/pleroma/config/holder.ex
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

remove unneeded function
  lib/pleroma/http.ex
  test/pleroma/web/activity_pub/publisher_test.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Fix config path lookup (#139)
  lib/pleroma/config/release_runtime_provider.ex
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

add code of conduct (#129)
  CODE_OF_CONDUCT.md
Due: none

docs/installation: Update required Elixir version to 1.12
  docs/docs/installation/generic_dependencies.include
Due: none

Transmogrifier: fix reply context fixing
  lib/pleroma/web/activity_pub/transmogrifier.ex
  test/fixtures/create-pleroma-reply-to-misskey-thread.json
  test/fixtures/tesla_mock/helene@p.helene.moe.json
  test/fixtures/tesla_mock/mametsuko@mk.absturztau.be.json
  test/fixtures/tesla_mock/mk.absturztau.be-93e7nm8wqg.json
  test/fixtures/tesla_mock/p.helene.moe-AM7S6vZQmL6pI9TgPY.json
  test/pleroma/web/activity_pub/transmogrifier_test.exs
  test/support/http_request_mock.ex
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Fix postgres install and setup for fedora guide
  docs/docs/installation/fedora_based_en.md
Due: none

don't persist undo of follows (#149)
  lib/pleroma/web/activity_pub/activity_pub.ex
  priv/repo/migrations/20220805123645_remove_remote_cancelled_follow_requests.exs
  test/pleroma/web/activity_pub/activity_pub_test.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Update 'docs/docs/installation/migrating_to_akkoma.md'
  docs/docs/installation/migrating_to_akkoma.md
Due: none

/notice signing checks on redirect (#150)
  lib/pleroma/web/plugs/http_signature_plug.ex
  test/pleroma/web/plugs/http_signature_plug_test.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

allow quote-inline span class
  priv/scrubbers/default.ex
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

make conversation-id deterministic (#154)
  lib/pleroma/object.ex
  lib/pleroma/web/activity_pub/object_validators/article_note_page_validator.ex
  lib/pleroma/web/activity_pub/object_validators/common_fields.ex
  lib/pleroma/web/activity_pub/object_validators/common_fixes.ex
  lib/pleroma/web/activity_pub/object_validators/event_validator.ex
  lib/pleroma/web/activity_pub/object_validators/question_validator.ex
  lib/pleroma/web/activity_pub/utils.ex
  lib/pleroma/web/common_api/utils.ex
  lib/pleroma/web/mastodon_api/views/status_view.ex
  priv/repo/optional_migrations/destructive/remove_null_object_type_records/20220806014830_remove_null_objects.exs
  test/pleroma/web/activity_pub/activity_pub_test.exs
  test/pleroma/web/activity_pub/transmogrifier/question_handling_test.exs
  test/pleroma/web/activity_pub/transmogrifier_test.exs
  test/pleroma/web/activity_pub/utils_test.exs
  test/pleroma/web/common_api/utils_test.exs
  test/pleroma/web/mastodon_api/views/status_view_test.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

StatusView: clear MSB on calculated conversation_id
  lib/pleroma/web/mastodon_api/views/status_view.ex
  test/pleroma/web/mastodon_api/views/status_view_test.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Mix format
  lib/pleroma/web/api_spec/schemas/status.ex
Due: build, spec-build, unit-testing, unit-testing-rum, lint, analysis, cycles

treat rejections in MRF as a reject in federator (#155)
  lib/pleroma/workers/receiver_worker.ex
  test/pleroma/web/federator_test.exs
  test/pleroma/workers/receiver_worker_test.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

remove warning that breaks update
  rel/files/bin/pleroma_ctl
Due: none

set soapbox-fe v2 by default
  config/config.exs
  lib/pleroma/web/plugs/http_signature_plug.ex
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

describe color keys
  config/description.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Translated using Weblate (Catalan)
  priv/gettext/ca/LC_MESSAGES/config_descriptions.po
Due: none

Update translation files
  priv/gettext/es/LC_MESSAGES/config_descriptions.po
Due: none

Update translation files
  priv/gettext/nl/LC_MESSAGES/errors.po
Due: none

Update translation files
  priv/gettext/nl/LC_MESSAGES/config_descriptions.po
Due: none

Translated using Weblate (Dutch)
  priv/gettext/nl/LC_MESSAGES/static_pages.po
Due: none

Update translation files
  priv/gettext/es/LC_MESSAGES/posix_errors.po
Due: none

add masto-fe docs
  docs/docs/configuration/cheatsheet.md
Due: none
