Repository Hostdon/pleroma: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build, spec-build, unit-testing, unit-testing-rum, lint, analysis, cycles

Path conditions:
  build: any of: **/*.ex, **/*.exs, mix.lock
  spec-build: any of: lib/pleroma/web/api_spec/**/*.ex, lib/pleroma/web/api_spec.ex
  unit-testing: any of: **/*.ex, **/*.exs, mix.lock
  unit-testing-rum: any of: **/*.ex, **/*.exs, mix.lock
  lint: any of: **/*.ex, **/*.exs, mix.lock
  analysis: any of: **/*.ex, **/*.exs, mix.lock
  cycles: any of: **/*.ex, **/*.exs, mix.lock

archive historical stable builds (#76)
  .woodpecker/.release.yml
Due: none

bump version
  .woodpecker/.release.yml
  CHANGELOG.md
  mix.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

maintenance: dependency upgrade (#81)
  lib/pleroma/web/activity_pub/object_validators/attachment_validator.ex
  lib/pleroma/web/activity_pub/object_validators/audio_video_validator.ex
  lib/pleroma/web/feed/tag_controller.ex
  lib/pleroma/web/feed/user_controller.ex
  lib/pleroma/web/o_auth/o_auth_controller.ex
  mix.exs
  mix.lock
  test/pleroma/web/activity_pub/activity_pub_test.exs
  test/pleroma/web/common_api_test.exs
  test/pleroma/web/mastodon_api/controllers/media_controller_test.exs
  test/pleroma/web/mastodon_api/controllers/status_controller_test.exs
  test/pleroma/web/pleroma_api/controllers/chat_controller_test.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Refactor CI build (#80)
  .dockerignore
  .woodpecker/.release.yml
  Dockerfile
Due: none

Add avatar image file
  priv/static/images/avi.png
Due: none

upgrade oban to v11 (#84)
  .woodpecker/.release.yml
  priv/repo/migrations/20220718102634_upgrade_oban_to_v11.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Merge branch 'from/upstream-develop/tusooa/server-announcements' into 'develop' (#85)
  docs/docs/development/API/admin_api.md
  lib/pleroma/announcement.ex
  lib/pleroma/announcement_read_relationship.ex
  lib/pleroma/web/admin_api/controllers/announcement_controller.ex
  lib/pleroma/web/admin_api/views/announcement_view.ex
  lib/pleroma/web/api_spec/operations/admin/announcement_operation.ex
  lib/pleroma/web/api_spec/operations/announcement_operation.ex
  lib/pleroma/web/api_spec/schemas/announcement.ex
  lib/pleroma/web/mastodon_api/controllers/announcement_controller.ex
  lib/pleroma/web/mastodon_api/views/announcement_view.ex
  lib/pleroma/web/router.ex
  priv/repo/migrations/20220308012601_create_announcements.exs
  test/pleroma/announcement_read_relationship_test.exs
  test/pleroma/announcement_test.exs
  test/pleroma/web/admin_api/controllers/announcement_controller_test.exs
  test/pleroma/web/mastodon_api/controllers/announcement_controller_test.exs
  test/support/factory.ex
Due: build, spec-build, unit-testing, unit-testing-rum, lint, analysis, cycles

doc: update repo link from docs to akkoma
  docs/mkdocs.yml
Due: none

Remove scrobbling support
  lib/pleroma/web/activity_pub/activity_pub.ex
  lib/pleroma/web/activity_pub/transmogrifier.ex
  lib/pleroma/web/activity_pub/utils.ex
  lib/pleroma/web/activity_pub/views/object_view.ex
  lib/pleroma/web/api_spec.ex
  lib/pleroma/web/api_spec/operations/pleroma_scrobble_operation.ex
  lib/pleroma/web/common_api.ex
  lib/pleroma/web/common_api/activity_draft.ex
  lib/pleroma/web/pleroma_api/controllers/scrobble_controller.ex
  lib/pleroma/web/pleroma_api/views/scrobble_view.ex
  lib/pleroma/web/router.ex
  test/pleroma/web/activity_pub/activity_pub_test.exs
  test/pleroma/web/activity_pub/transmogrifier/audio_handling_test.exs
  test/pleroma/web/activity_pub/transmogrifier_test.exs
  test/pleroma/web/common_api_test.exs
  test/pleroma/web/pleroma_api/controllers/scrobble_controller_test.exs
  test/pleroma/web/pleroma_api/views/scrobble_view_test.exs
Due: build, spec-build, unit-testing, unit-testing-rum, lint, analysis, cycles

document scrobbling purge
  CHANGELOG.md
  docs/docs/development/API/pleroma_api.md
Due: none

Change Pleroma references to Akkoma in README
  README.md
Due: none

remove all endpoints marked as deprecated (#91)
  CHANGELOG.md
  lib/pleroma/user.ex
  lib/pleroma/web/api_spec/operations/chat_operation.ex
  lib/pleroma/web/api_spec/operations/notification_operation.ex
  lib/pleroma/web/api_spec/operations/search_operation.ex
  lib/pleroma/web/api_spec/operations/status_operation.ex
  lib/pleroma/web/auth/wrapper_authenticator.ex
  lib/pleroma/web/mastodon_api/controllers/notification_controller.ex
  lib/pleroma/web/mastodon_api/controllers/search_controller.ex
  lib/pleroma/web/mastodon_api/controllers/status_controller.ex
  lib/pleroma/web/rich_media/parsers/ogp.ex
  lib/pleroma/web/router.ex
  test/pleroma/web/mastodon_api/controllers/notification_controller_test.exs
  test/pleroma/web/mastodon_api/controllers/search_controller_test.exs
  test/pleroma/web/mastodon_api/controllers/status_controller_test.exs
  test/pleroma/web/pleroma_api/controllers/chat_controller_test.exs
  test/support/helpers.ex
Due: build, spec-build, unit-testing, unit-testing-rum, lint, analysis, cycles

purge ldap authenticator (#92)
  CHANGELOG.md
  config/config.exs
  config/description.exs
  docs/docs/configuration/cheatsheet.md
  docs/docs/installation/alpine_linux_en.md
  lib/pleroma/user.ex
  lib/pleroma/web/auth/ldap_authenticator.ex
  mix.exs
  test/pleroma/web/o_auth/ldap_authorization_test.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

update features array
  lib/pleroma/web/mastodon_api/views/instance_view.ex
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

remove chat enabled feature
  test/pleroma/web/node_info_test.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

update mastofe paths (#95)
  CHANGELOG.md
  config/config.exs
  config/description.exs
  lib/pleroma/web/templates/masto_fe/index.html.eex
  test/pleroma/web/activity_pub/transmogrifier/audio_handling_test.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Remove instrumentors (#98)
  .woodpecker/.release.yml
  CHANGELOG.md
  config/config.exs
  config/description.exs
  lib/pleroma/application.ex
  lib/pleroma/config/transfer_task.ex
  lib/pleroma/repo.ex
  lib/pleroma/web/endpoint.ex
  mix.exs
  test/pleroma/web/endpoint/metrics_exporter_test.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

prune lockfile
  mix.lock
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

add bubble timeline (#100)
  config/config.exs
  config/description.exs
  lib/pleroma/web/activity_pub/activity_pub.ex
  lib/pleroma/web/api_spec/operations/timeline_operation.ex
  lib/pleroma/web/mastodon_api/controllers/timeline_controller.ex
  lib/pleroma/web/mastodon_api/websocket_handler.ex
  lib/pleroma/web/router.ex
  test/pleroma/web/mastodon_api/controllers/timeline_controller_test.exs
Due: build, spec-build, unit-testing, unit-testing-rum, lint, analysis, cycles

bump version for release
  mix.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

extend custom runtime system (#108)
  CHANGELOG.md
  docs/docs/configuration/cheatsheet.md
  lib/pleroma/utils.ex
  test/fixtures/runtime_modules/first.ex
  test/fixtures/runtime_modules/nope.exs
  test/fixtures/runtime_modules/subdir/second.ex
  test/pleroma/utils_test.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

open up functions in user
  lib/pleroma/user.ex
  mix.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Quote posting (#113)
  CHANGELOG.md
  config/config.exs
  docs/docs/administration/CLI_tasks/user.md
  lib/pleroma/activity.ex
  lib/pleroma/web/activity_pub/builder.ex
  lib/pleroma/web/activity_pub/mrf/inline_quote_policy.ex
  lib/pleroma/web/activity_pub/object_validators/article_note_page_validator.ex
  lib/pleroma/web/activity_pub/object_validators/common_fields.ex
  lib/pleroma/web/activity_pub/transmogrifier.ex
  lib/pleroma/web/api_spec/operations/status_operation.ex
  lib/pleroma/web/api_spec/schemas/status.ex
  lib/pleroma/web/common_api.ex
  lib/pleroma/web/common_api/activity_draft.ex
  lib/pleroma/web/mastodon_api/views/status_view.ex
  priv/static/schemas/litepub-0.1.jsonld
  test/fixtures/fedibird/quote.json
  test/fixtures/misskey/quote.json
  test/fixtures/quote_post/fedibird_quote_post.json
  test/fixtures/quote_post/fedibird_quote_uri.json
  test/fixtures/quote_post/misskey_quote_post.json
  test/fixtures/quoted_status.json
  test/pleroma/web/activity_pub/builder_test.exs
  test/pleroma/web/activity_pub/mrf/inline_quote_policy_test.exs
  test/pleroma/web/activity_pub/object_validators/article_note_page_validator_test.exs
  test/pleroma/web/mastodon_api/controllers/filter_controller_test.exs
  test/pleroma/web/mastodon_api/controllers/status_controller_test.exs
  test/pleroma/web/mastodon_api/views/status_view_test.exs
Due: build, spec-build, unit-testing, unit-testing-rum, lint, analysis, cycles

add authorized_fetch_mode to description.exs
  config/description.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

remove public post quarantine exception (#114)
  CHANGELOG.md
  config/description.exs
  docs/docs/configuration/cheatsheet.md
  lib/pleroma/web/activity_pub/publisher.ex
  test/pleroma/web/activity_pub/publisher_test.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

include local instance in bubble timeline (#117)
  lib/pleroma/web/mastodon_api/controllers/timeline_controller.ex
  test/pleroma/web/mastodon_api/controllers/timeline_controller_test.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

don't error out if the featured collection has a string ID
  lib/pleroma/web/activity_pub/activity_pub.ex
  test/fixtures/mastodon/featured_collection.json
  test/pleroma/web/activity_pub/activity_pub_test.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

ensure quote fetching obeys max thread distance (#119)
  lib/pleroma/web/activity_pub/object_validators/article_note_page_validator.ex
  lib/pleroma/web/activity_pub/transmogrifier.ex
  test/fixtures/misskey/recursive_quote.json
  test/pleroma/web/activity_pub/object_validators/article_note_page_validator_test.exs
  test/pleroma/web/activity_pub/transmogrifier/note_handling_test.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Prepare for ubuntu22 murdering openssl (#120)
  .woodpecker.yml
  .woodpecker/.docs.yml
  .woodpecker/.release.yml
  .woodpecker/.test.yml
  CHANGELOG.md
  Dockerfile
  config/config.exs
  config/description.exs
  docs/docs/configuration/cheatsheet.md
  docs/docs/installation/alpine_linux_en.md
  lib/pleroma/user.ex
  lib/pleroma/web/auth/ldap_authenticator.ex
  mix.exs
  rel/files/bin/pleroma_ctl
  test/pleroma/web/o_auth/ldap_authorization_test.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

backend-i18n (#121)
  lib/pleroma/docs/translator.ex
  lib/pleroma/docs/translator/compiler.ex
  lib/pleroma/web/admin_api/controllers/config_controller.ex
  priv/gettext/config_descriptions.pot
  priv/gettext/default.pot
  priv/gettext/errors.pot
  priv/gettext/static_pages.pot
  test/pleroma/docs/translator/compiler_test.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

ensure mix clean
  .woodpecker.yml
Due: none

Added installation guides for redhat linux distributions, includes OTP build guide for fedora. (#122)
  docs/docs/installation/fedora_based_en.md
  docs/docs/installation/otp_en.md
  docs/docs/installation/otp_redhat_en.md
Due: none

rename-flavours (#123)
  .woodpecker.yml
  CHANGELOG.md
  docs/Makefile
  docs/docs/installation/debian_based_jp.md
  docs/docs/installation/migrating_to_akkoma.md
  docs/docs/installation/openbsd_fi.md
  docs/docs/installation/otp_en.md
Due: none

fix release tag
  .woodpecker.yml
Due: none

Fix emoji qualification (#124)
  lib/pleroma/emoji.ex
  lib/pleroma/emoji/combinations.ex
  lib/pleroma/reverse_proxy.ex
  lib/pleroma/search/elasticsearch/activity_parser.ex
  lib/pleroma/web/activity_pub/object_validators/emoji_react_validator.ex
  test/pleroma/emoji_test.exs
  test/pleroma/web/activity_pub/transmogrifier/emoji_react_handling_test.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles
