Repository Hostdon/pleroma: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build, spec-build, unit-testing, unit-testing-rum, lint, analysis, cycles

build:
  stage: build
  script:
  - mix compile --force

spec-build:
  stage: test
  artifacts:
    paths:
    - spec.json
  script:
  - mix pleroma.openapi_spec spec.json

unit-testing:
  stage: test
  retry: 2
  cache:
    key:
      files:
      - mix.lock
    paths:
    - deps
    - _build
    policy: pull
  services:
  - name: postgres:13
    alias: postgres
    command:
    - postgres
    - -c
    - fsync=off
    - -c
    - synchronous_commit=off
    - -c
    - full_page_writes=off
  script:
  ...

unit-testing-rum:
  stage: test
  retry: 2
  cache:
    key:
      files:
      - mix.lock
    paths:
    - deps
    - _build
    policy: pull
  services:
  - name: minibikini/postgres-with-rum:12
    alias: postgres
    command:
    - postgres
    - -c
    - fsync=off
    - -c
    - synchronous_commit=off
    - -c
    - full_page_writes=off
  variables:
  ...

lint:
  stage: test
  cache:
    key:
      files:
      - mix.lock
    paths:
    - deps
    - _build
    policy: pull
  script:
  - mix format --check-formatted

analysis:
  stage: test
  cache:
    key:
      files:
      - mix.lock
    paths:
    - deps
    - _build
    policy: pull
  script:
  - mix credo --strict --only=warnings,todo,fixme,consistency,readability

cycles:
  stage: test
  image: elixir:1.11
  cache: {}
  script:
  - mix deps.get
  - mix compile
  - mix xref graph --format cycles --label compile | awk '{print $0} END{exit ($0 != "No cycles found")}'

add seperate source and dest entries in language listing (#193)
  lib/pleroma/akkoma/translators/deepl.ex
  lib/pleroma/akkoma/translators/libre_translate.ex
  lib/pleroma/akkoma/translators/translator.ex
  lib/pleroma/web/akkoma_api/controllers/translation_controller.ex
  lib/pleroma/web/api_spec/operations/translate_operation.ex
  test/pleroma/translators/deepl_test.exs
  test/pleroma/translators/libre_translate_test.exs
  test/pleroma/web/mastodon_api/controllers/status_controller_test.exs
Due: build, spec-build, unit-testing, unit-testing-rum, lint, analysis, cycles

Don't persist local undone follow (#194)
  lib/pleroma/web/activity_pub/activity_pub.ex
  lib/pleroma/web/activity_pub/utils.ex
  priv/repo/migrations/20220831170605_remove_local_cancelled_follows.exs
  test/mix/tasks/pleroma/relay_test.exs
  test/pleroma/notification_test.exs
  test/pleroma/web/activity_pub/activity_pub_test.exs
  test/pleroma/web/activity_pub/utils_test.exs
  test/pleroma/web/common_api_test.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

ensure .exs config is used before default (#197)
  lib/pleroma/config/transfer_task.ex
  test/pleroma/config/transfer_task_test.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Allow reacting with remote emoji when they exist on the post (#200)
  lib/pleroma/web/activity_pub/builder.ex
  lib/pleroma/web/activity_pub/object_validators/emoji_react_validator.ex
  lib/pleroma/web/activity_pub/utils.ex
  lib/pleroma/web/common_api.ex
  lib/pleroma/web/mastodon_api/views/status_view.ex
  lib/pleroma/web/pleroma_api/controllers/emoji_reaction_controller.ex
  lib/pleroma/web/pleroma_api/views/emoji_reaction_view.ex
  test/pleroma/web/pleroma_api/controllers/emoji_reaction_controller_test.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

fix compilation warnings
  lib/pleroma/web/activity_pub/builder.ex
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

add extra tests for builder
  lib/pleroma/emoji.ex
  test/pleroma/web/activity_pub/builder_test.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

turn inlineQuotePolicy on by default
  lib/pleroma/web/activity_pub/mrf.ex
  test/pleroma/web/activity_pub/builder_test.exs
  test/pleroma/web/activity_pub/mrf_test.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Remove gitlab files (#203)
  .gitlab/issue_templates/Bug.md
  .gitlab/merge_request_templates/Release.md
Due: none

Remote interaction with posts (#198)
  CHANGELOG.md
  lib/pleroma/web/api_spec/operations/twitter_util_operation.ex
  lib/pleroma/web/mastodon_api/views/instance_view.ex
  lib/pleroma/web/router.ex
  lib/pleroma/web/templates/twitter_api/util/status_interact.html.eex
  lib/pleroma/web/twitter_api/controllers/util_controller.ex
  lib/pleroma/web/twitter_api/views/util_view.ex
  test/pleroma/web/twitter_api/util_controller_test.exs
Due: build, spec-build, unit-testing, unit-testing-rum, lint, analysis, cycles

2022.09 stable release chores (#206)
  CHANGELOG.md
  SIGNING_KEY.pub
  docs/docs/installation/verifying_otp_releases.md
  mix.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

tmp: use akkoma build image
  .woodpecker.yml
Due: none

use prebuilt image for docs
  .woodpecker.yml
Due: none

Revert "tmp: use akkoma build image"
  .woodpecker.yml
Due: none

Revert "use prebuilt image for docs"
  .woodpecker.yml
Due: none

Update styles.json path in frontend config doc (#212)
  docs/docs/configuration/howto_theming_your_instance.md
Due: none

Ensure migrations succeed (#216)
  priv/repo/migrations/20220718102634_upgrade_oban_to_v11.exs
  priv/repo/migrations/20220916115149_ensure_mastofe_settings.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Ensure rollback succeeds
  priv/repo/migrations/20220916115149_ensure_mastofe_settings.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

ensure queue_target can't be silly low
  config/config.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Move remote user interaction changelog entry to correct version
  CHANGELOG.md
Due: none

Update soapbox base url
  config/config.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Make backups require its own scope (#218)
  CHANGELOG.md
  lib/pleroma/web/api_spec/operations/pleroma_backup_operation.ex
  lib/pleroma/web/pleroma_api/controllers/backup_controller.ex
  test/pleroma/web/pleroma_api/controllers/backup_controller_test.exs
Due: build, spec-build, unit-testing, unit-testing-rum, lint, analysis, cycles

Fix false error in meilisearch index (#221)
  CHANGELOG.md
  docs/docs/configuration/search.md
  docs/docs/index.md
  lib/pleroma/search/meilisearch.ex
  test/pleroma/search/meilisearch_test.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Add installation note about flavour, support special cases (#222)
  .woodpecker.yml
  docs/docs/administration/updating.md
  docs/docs/installation/otp_en.md
  rel/files/bin/pleroma_ctl
Due: none

ensure we use the same OTP for all releases
  .woodpecker.yml
Due: none

use on-release tag
  .woodpecker.yml
Due: none

include requirement to enable HTTP tunnel in tor
  docs/docs/configuration/onion_federation.md
Due: none

Backend settings sync (#226)
  CHANGELOG.md
  config/config.exs
  lib/pleroma/akkoma/frontend_setting_profile.ex
  lib/pleroma/user.ex
  lib/pleroma/web/akkoma_api/controllers/frontend_settings_controller.ex
  lib/pleroma/web/api_spec/operations/frontend_settings_operation.ex
  lib/pleroma/web/router.ex
  mix.exs
  priv/repo/migrations/20220911195347_add_user_frontend_profiles.exs
  test/pleroma/akkoma/frontend_setting_profile_test.exs
  test/pleroma/web/akkoma_api/frontend_settings_controller_test.exs
  test/support/factory.ex
Due: build, spec-build, unit-testing, unit-testing-rum, lint, analysis, cycles

Path conditions:
  build: any of: **/*.ex, **/*.exs, mix.lock
  spec-build: any of: lib/pleroma/web/api_spec/**/*.ex, lib/pleroma/web/api_spec.ex
  unit-testing: any of: **/*.ex, **/*.exs, mix.lock
  unit-testing-rum: any of: **/*.ex, **/*.exs, mix.lock
  lint: any of: **/*.ex, **/*.exs, mix.lock
  analysis: any of: **/*.ex, **/*.exs, mix.lock
  cycles: any of: **/*.ex, **/*.exs, mix.lock
