Repository Hostdon/pleroma: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build, spec-build, unit-testing, unit-testing-rum, lint, analysis, cycles

Path conditions:
  build: any of: **/*.ex, **/*.exs, mix.lock
  spec-build: any of: lib/pleroma/web/api_spec/**/*.ex, lib/pleroma/web/api_spec.ex
  unit-testing: any of: **/*.ex, **/*.exs, mix.lock
  unit-testing-rum: any of: **/*.ex, **/*.exs, mix.lock
  lint: any of: **/*.ex, **/*.exs, mix.lock
  analysis: any of: **/*.ex, **/*.exs, mix.lock
  cycles: any of: **/*.ex, **/*.exs, mix.lock

Add elasticsearch tests
  lib/pleroma/search/elasticsearch/document_mappings/activity.ex
  lib/pleroma/telemetry/logger.ex
  test/pleroma/search/database_search_test.exs
  test/pleroma/search/elasticsearch_test.exs
  test/support/elasticsearch_mock.ex
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Add documentation for ES search
  config/description.exs
  docs/configuration/search.md
  lib/mix/tasks/pleroma/search/elasticsearch.ex
  lib/mix/tasks/pleroma/search/meilisearch.ex
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

fix ES import from live (#29)
  config/config.exs
  docs/configuration/search.md
  lib/mix/pleroma.ex
  lib/mix/tasks/pleroma/search.ex
  lib/mix/tasks/pleroma/search/elasticsearch.ex
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Fix broken attachments from owncast (#31)
  lib/pleroma/web/activity_pub/object_validators/article_note_page_validator.ex
  test/fixtures/owncast-note-with-attachment.json
  test/pleroma/web/activity_pub/object_validators/article_note_page_validator_test.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

don't set primary just yet
  config/config.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Add index hotspots
  priv/repo/migrations/20220506175506_add_index_hotspots.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Update eblurhash to a non-bugged version (#34)
  .woodpecker/.release.yml
  mix.exs
  mix.lock
  test/pleroma/upload/filter/analyze_metadata_test.exs
  test/pleroma/web/admin_api/controllers/config_controller_test.exs
  test/pleroma/web/preload/providers/instance_test.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Update install docs (#38)
  README.md
  docs/index.md
  docs/installation/alpine_linux_en.md
  docs/installation/arch_linux_en.md
  docs/installation/debian_based_en.md
  docs/installation/debian_based_jp.md
  docs/installation/freebsd_en.md
  docs/installation/gentoo_en.md
  docs/installation/migrating_from_source_otp_en.md
  docs/installation/migrating_to_akkoma.md
  docs/installation/netbsd_en.md
  docs/installation/openbsd_en.md
  docs/installation/openbsd_fi.md
  docs/installation/otp_en.md
  docs/installation/otp_vs_from_source.include
  docs/installation/yunohost_en.md
Due: none

Update administration docs (#39)
  docs/administration/CLI_tasks/config.md
  docs/administration/CLI_tasks/frontend.md
  docs/administration/CLI_tasks/general_cli_task_info.include
  docs/administration/backup.md
  docs/administration/updating.md
Due: none

Update configuration docs (#40)
  docs/configuration/cheatsheet.md
  docs/configuration/custom_emoji.md
  docs/configuration/hardening.md
  docs/configuration/howto_database_config.md
  docs/configuration/howto_ejabberd.md
  docs/configuration/howto_mediaproxy.md
  docs/configuration/howto_mongooseim.md
  docs/configuration/howto_proxy.md
  docs/configuration/howto_search_cjk.md
  docs/configuration/howto_theming_your_instance.md
  docs/configuration/i2p.md
  docs/configuration/mrf.md
  docs/configuration/onion_federation.md
  docs/configuration/optimizing_beam.md
  docs/configuration/postgresql.md
  docs/configuration/static_dir.md
  docs/configuration/storing_remote_media.md
Due: none

Add test for friendica featured collection
  test/fixtures/friendica/friendica_featured_collection.json
  test/fixtures/friendica/friendica_featured_collection_first.json
  test/pleroma/web/activity_pub/activity_pub_test.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Add support for a `first` reference in pinned objects
  lib/pleroma/web/activity_pub/activity_pub.ex
  test/fixtures/friendica/friendica_featured_collection_first.json
  test/pleroma/web/activity_pub/activity_pub_test.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Add collection fetching module
  config/config.exs
  lib/pleroma/collections/fetcher.ex
  test/fixtures/collections/ordered_array.json
  test/fixtures/collections/unordered_array.json
  test/fixtures/collections/unordered_page_embedded.json
  test/fixtures/collections/unordered_page_first.json
  test/fixtures/collections/unordered_page_reference.json
  test/fixtures/collections/unordered_page_second.json
  test/pleroma/collections/collections_fetcher_test.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Use Akkoma modification for collections
  config/description.exs
  docs/configuration/cheatsheet.md
  lib/pleroma/collections/fetcher.ex
  lib/pleroma/web/activity_pub/activity_pub.ex
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Update development docs
  docs/development/API/chats.md
  docs/development/API/differences_in_mastoapi_responses.md
  docs/development/API/nodeinfo.md
  docs/development/API/prometheus.md
  docs/development/authentication_authorization.md
  docs/development/setting_up_akkoma_dev.md
Due: none

implement Move activities (#45)
  CHANGELOG.md
  docs/development/API/pleroma_api.md
  lib/pleroma/following_relationship.ex
  lib/pleroma/user.ex
  lib/pleroma/web/activity_pub/activity_pub.ex
  lib/pleroma/web/api_spec/operations/twitter_util_operation.ex
  lib/pleroma/web/router.ex
  lib/pleroma/web/twitter_api/controllers/util_controller.ex
  test/fixtures/tesla_mock/https___lm.kazv.moe_users_mewmew.xml
  test/fixtures/tesla_mock/lm.kazv.moe_host_meta
  test/fixtures/tesla_mock/mewmew@lm.kazv.moe.json
  test/pleroma/user_test.exs
  test/pleroma/web/activity_pub/activity_pub_test.exs
  test/pleroma/web/twitter_api/util_controller_test.exs
  test/support/http_request_mock.ex
Due: build, spec-build, unit-testing, unit-testing-rum, lint, analysis, cycles

Use finch everywhere (#33)
  config/benchmark.exs
  config/config.exs
  config/description.exs
  config/test.exs
  lib/mix/pleroma.ex
  lib/mix/tasks/pleroma/benchmark.ex
  lib/pleroma/application.ex
  lib/pleroma/config/deprecation_warnings.ex
  lib/pleroma/config/transfer_task.ex
  lib/pleroma/emoji/pack.ex
  lib/pleroma/frontend.ex
  lib/pleroma/helpers/media_helper.ex
  lib/pleroma/http.ex
  lib/pleroma/http/adapter_helper.ex
  lib/pleroma/http/ex_aws.ex
  lib/pleroma/http/request_builder.ex
  lib/pleroma/http/tzdata.ex
  lib/pleroma/instances/instance.ex
  lib/pleroma/reverse_proxy.ex
  lib/pleroma/telemetry/logger.ex
  lib/pleroma/uploaders/s3.ex
  lib/pleroma/web/activity_pub/mrf/media_proxy_warming_policy.ex
  lib/pleroma/web/media_proxy/media_proxy_controller.ex
  lib/pleroma/web/plugs/uploaded_media.ex
  lib/pleroma/web/rel_me.ex
  lib/pleroma/web/rich_media/helpers.ex
  mix.exs
  test/pleroma/config/deprecation_warnings_test.exs
  test/pleroma/gun/connection_pool_test.exs
  test/pleroma/reverse_proxy_test.exs
  test/test_helper.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

mix format
  lib/mix/pleroma.ex
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

import logger
  lib/pleroma/collections/fetcher.ex
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Fix config path lookup (#51)
  lib/pleroma/config/release_runtime_provider.ex
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Update sample config files (#48)
  docs/configuration/howto_mediaproxy.md
  docs/installation/alpine_linux_en.md
  docs/installation/arch_linux_en.md
  docs/installation/debian_based_en.md
  docs/installation/debian_based_jp.md
  docs/installation/freebsd_en.md
  docs/installation/gentoo_en.md
  docs/installation/netbsd_en.md
  docs/installation/otp_en.md
  installation/akkoma-mongooseim.cfg
  installation/akkoma.service
  installation/akkoma.supervisord
  installation/akkoma.vcl
  installation/apache/akkoma-apache.conf
  installation/apache/apache-cache-purge.sh.example
  installation/caddy/Caddyfile
  installation/caddyfile-pleroma.example
  installation/freebsd/rc.d/akkoma
  installation/freebsd/rc.d/pleroma
  installation/init.d/akkoma
  installation/init.d/pleroma
  installation/netbsd/rc.d/akkoma
  installation/nginx/akkoma.nginx
  installation/nginx/nginx-cache-purge.sh.example
  installation/openbsd/httpd.conf
  installation/openbsd/rc.d/akkomad
  installation/openbsd/rc.d/pleromad
  installation/openbsd/relayd.conf
  installation/pleroma.supervisord
Due: none

Fixes for elasticsearch 8 (#52)
  CHANGELOG.md
  docs/configuration/search.md
  lib/mix/tasks/pleroma/search.ex
  mix.exs
  mix.lock
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Add configurable theme color (#53)
  CHANGELOG.md
  config/config.exs
  config/description.exs
  docs/configuration/cheatsheet.md
  lib/pleroma/application.ex
  lib/pleroma/telemetry/logger.ex
  lib/pleroma/web/endpoint.ex
  lib/pleroma/web/fallback/redirect_controller.ex
  lib/pleroma/web/metadata.ex
  lib/pleroma/web/metadata/providers/theme.ex
  test/pleroma/web/metadata/providers/theme_test.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Fix release installation
  mix.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Update Alpine install guide (#49)
  docs/installation/alpine_linux_en.md
Due: none

[#58] pre-link MFM content (#59)
  docs/development/setting_up_akkoma_dev.md
  lib/pleroma/application.ex
  lib/pleroma/formatter.ex
  lib/pleroma/http.ex
  lib/pleroma/web/activity_pub/object_validators/article_note_page_validator.ex
  lib/pleroma/web/common_api/utils.ex
  test/fixtures/misskey/mfm_underscore_format.json
  test/fixtures/misskey/mfm_x_format.json
  test/pleroma/web/activity_pub/object_validators/article_note_page_validator_test.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

[#58] ensure all users are linked in MFM content (#61)
  lib/pleroma/formatter.ex
  lib/pleroma/web/activity_pub/object_validators/article_note_page_validator.ex
  test/fixtures/misskey/mfm_x_format.json
  test/pleroma/web/activity_pub/object_validators/article_note_page_validator_test.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

also resolve @full@tags in mfm (#62)
  lib/pleroma/web/activity_pub/object_validators/article_note_page_validator.ex
  test/fixtures/misskey/mfm_x_format.json
  test/pleroma/web/activity_pub/object_validators/article_note_page_validator_test.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Change default Postgres user/DB to akkoma
  lib/mix/tasks/pleroma/instance.ex
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Change pleroma reference in priv/static/READ_THIS_BEFORE_TOUCHING_FILES_HERE
  priv/static/READ_THIS_BEFORE_TOUCHING_FILES_HERE
Due: none

Add swaggerUI options (#66)
  config/config.exs
  config/description.exs
  docs/configuration/cheatsheet.md
  docs/configuration/frontend_management.md
  lib/akkoma/web/swagger.ex
  lib/pleroma/application.ex
  lib/pleroma/web/endpoint.ex
  lib/pleroma/web/plugs/frontend_static.ex
  mix.exs
  mix.lock
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

fix compilation
  lib/pleroma/web/endpoint.ex
  lib/pleroma/web/swagger.ex
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

remove anonymous function from plug
  lib/pleroma/web/plugs/frontend_static.ex
  lib/pleroma/web/swagger.ex
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Add support for musl11 build (#71)
  .woodpecker/.release.yml
  CHANGELOG.md
  docs/administration/updating.md
  docs/installation/migrating_to_akkoma.md
Due: none

remove the docs for stuff i didn't do
  docs/configuration/frontend_management.md
Due: none

ignore generated docs
  .gitignore
Due: none

remove gitlab CI, force build isolation
  .gitlab-ci.yml
  .woodpecker/.release.yml
Due: none
