Repository Hostdon/pleroma: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build, spec-build, unit-testing, unit-testing-rum, lint, analysis, cycles

Path conditions:
  build: any of: **/*.ex, **/*.exs, mix.lock
  spec-build: any of: lib/pleroma/web/api_spec/**/*.ex, lib/pleroma/web/api_spec.ex
  unit-testing: any of: **/*.ex, **/*.exs, mix.lock
  unit-testing-rum: any of: **/*.ex, **/*.exs, mix.lock
  lint: any of: **/*.ex, **/*.exs, mix.lock
  analysis: any of: **/*.ex, **/*.exs, mix.lock
  cycles: any of: **/*.ex, **/*.exs, mix.lock

Add tests, changelog entry
  CHANGELOG.md
  test/pleroma/web/activity_pub/mrf/normalize_markup_test.exs
  test/pleroma/web/activity_pub/mrf_test.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

document normalizemarkup and inlinequote MRFs
  docs/docs/configuration/cheatsheet.md
Due: none

normalise markup by default (#316)
  CHANGELOG.md
  docs/docs/configuration/cheatsheet.md
  lib/pleroma/web/activity_pub/mrf.ex
  test/pleroma/web/activity_pub/mrf/normalize_markup_test.exs
  test/pleroma/web/activity_pub/mrf_test.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

weirdly no, images should not have classes
  priv/scrubbers/default.ex
  test/pleroma/web/activity_pub/mrf/normalize_markup_test.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Delete 'installation/download-mastofe-build.sh'
  installation/download-mastofe-build.sh
Due: none

Spin off imports into n oban jobs
  CHANGELOG.md
  lib/pleroma/user/import.ex
  lib/pleroma/workers/background_worker.ex
  test/pleroma/emoji/formatter_test.exs
  test/pleroma/user/import_test.exs
  test/pleroma/web/pleroma_api/controllers/user_import_controller_test.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Add ability to set a default post expiry (#321)
  CHANGELOG.md
  lib/pleroma/user.ex
  lib/pleroma/web/api_spec/operations/account_operation.ex
  lib/pleroma/web/api_spec/schemas/account.ex
  lib/pleroma/web/mastodon_api/controllers/account_controller.ex
  lib/pleroma/web/mastodon_api/controllers/status_controller.ex
  lib/pleroma/web/mastodon_api/views/account_view.ex
  lib/pleroma/web/mastodon_api/views/status_view.ex
  priv/repo/migrations/20220905011454_generate_unset_user_keys.exs
  priv/repo/migrations/20221128103145_add_per_user_post_expiry.exs
  test/pleroma/web/mastodon_api/controllers/status_controller_test.exs
  test/pleroma/web/mastodon_api/update_credentials_test.exs
  test/pleroma/web/mastodon_api/views/account_view_test.exs
Due: build, spec-build, unit-testing, unit-testing-rum, lint, analysis, cycles

docs: Remove quarantine section
  docs/docs/configuration/mrf.md
Due: none

Fixing up deletes a bit (#327)
  CHANGELOG.md
  config/config.exs
  docs/docs/administration/CLI_tasks/database.md
  lib/mix/tasks/pleroma/database.ex
  lib/pleroma/activity/pruner.ex
  lib/pleroma/object/pruner.ex
  lib/pleroma/web/activity_pub/activity_pub.ex
  lib/pleroma/web/activity_pub/side_effects.ex
  lib/pleroma/web/mastodon_api/controllers/account_controller.ex
  lib/pleroma/workers/cron/database_prune_worker.ex
  lib/pleroma/workers/search_indexing_worker.ex
  priv/repo/migrations/20221129105331_add_notification_activity_id_index.exs
  priv/repo/migrations/20221129110627_add_bookmarks_activity_id_index.exs
  priv/repo/migrations/20221129110727_add_report_notes_activity_id_index.exs
  priv/repo/migrations/20221129112022_add_cascade_to_report_notes_on_activity_delete.exs
  priv/static/logo-512.png
  priv/static/logo.svg
  test/pleroma/activity/pruner_test.exs
  test/pleroma/object/pruner_test.exs
  test/pleroma/web/activity_pub/activity_pub_test.exs
  test/pleroma/web/mastodon_api/update_credentials_test.exs
  test/support/factory.ex
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

still use mask
  config/config.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Add PWA info
  config/config.exs
  lib/pleroma/web/views/manifest_view.ex
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Resolve follow activity from accept/reject without ID (#328)
  lib/pleroma/activity.ex
  lib/pleroma/web/activity_pub/activity_pub.ex
  lib/pleroma/web/activity_pub/object_validators/accept_reject_validator.ex
  test/pleroma/web/activity_pub/transmogrifier/reject_handling_test.exs
  test/support/factory.ex
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Add maskable to logo
  lib/pleroma/web/views/manifest_view.ex
  priv/static/logo.svg
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Manually define PATH for Arch Linux users in systemd unit
  installation/akkoma.service
Due: none

Purge Rejected Follow requests in daily task (#334)
  config/description.exs
  docs/docs/configuration/cheatsheet.md
  lib/mix/tasks/pleroma/instance.ex
  lib/pleroma/activity/pruner.ex
  lib/pleroma/web/activity_pub/object_validators/accept_reject_validator.ex
  lib/pleroma/web/views/manifest_view.ex
  lib/pleroma/workers/cron/database_prune_worker.ex
  test/pleroma/activity/pruner_test.exs
  test/pleroma/web/pleroma_api/controllers/emoji_file_controller_test.exs
  test/pleroma/web/twitter_api/remote_follow_controller_test.exs
  test/support/factory.ex
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Small improvements to the Gentoo installation isntructions
  docs/docs/installation/gentoo_en.md
Due: none

Add ability to follow hashtags (#336)
  lib/mix/tasks/pleroma/user.ex
  lib/pleroma/hashtag.ex
  lib/pleroma/user.ex
  lib/pleroma/user/hashtag_follow.ex
  lib/pleroma/web/activity_pub/activity_pub.ex
  lib/pleroma/web/api_spec/operations/tag_operation.ex
  lib/pleroma/web/api_spec/schemas/tag.ex
  lib/pleroma/web/mastodon_api/controllers/tag_controller.ex
  lib/pleroma/web/mastodon_api/controllers/timeline_controller.ex
  lib/pleroma/web/mastodon_api/views/tag_view.ex
  lib/pleroma/web/router.ex
  lib/pleroma/web/streamer.ex
  priv/repo/migrations/20221203232118_add_user_follows_hashtag.exs
  test/pleroma/user_test.exs
  test/pleroma/web/activity_pub/activity_pub_test.exs
  test/pleroma/web/mastodon_api/controllers/tag_controller_test.exs
  test/pleroma/web/streamer_test.exs
  test/support/factory.ex
Due: build, spec-build, unit-testing, unit-testing-rum, lint, analysis, cycles

Add changelog entry for hashtag following
  CHANGELOG.md
Due: none

revert 4a94c9a31ef11f63ea71ad9c1f085c18cf8ef083
  lib/mix/tasks/pleroma/user.ex
  lib/pleroma/hashtag.ex
  lib/pleroma/user.ex
  lib/pleroma/user/hashtag_follow.ex
  lib/pleroma/web/activity_pub/activity_pub.ex
  lib/pleroma/web/api_spec/operations/tag_operation.ex
  lib/pleroma/web/api_spec/schemas/tag.ex
  lib/pleroma/web/mastodon_api/controllers/tag_controller.ex
  lib/pleroma/web/mastodon_api/controllers/timeline_controller.ex
  lib/pleroma/web/mastodon_api/views/tag_view.ex
  lib/pleroma/web/router.ex
  lib/pleroma/web/streamer.ex
  priv/repo/migrations/20221203232118_add_user_follows_hashtag.exs
  test/pleroma/user_test.exs
  test/pleroma/web/activity_pub/activity_pub_test.exs
  test/pleroma/web/mastodon_api/controllers/tag_controller_test.exs
  test/pleroma/web/streamer_test.exs
  test/support/factory.ex
Due: build, spec-build, unit-testing, unit-testing-rum, lint, analysis, cycles

Remerge of hashtag following (#341)
  lib/mix/tasks/pleroma/user.ex
  lib/pleroma/hashtag.ex
  lib/pleroma/user.ex
  lib/pleroma/user/hashtag_follow.ex
  lib/pleroma/web/activity_pub/activity_pub.ex
  lib/pleroma/web/api_spec/operations/tag_operation.ex
  lib/pleroma/web/api_spec/schemas/tag.ex
  lib/pleroma/web/mastodon_api/controllers/tag_controller.ex
  lib/pleroma/web/mastodon_api/controllers/timeline_controller.ex
  lib/pleroma/web/mastodon_api/views/tag_view.ex
  lib/pleroma/web/router.ex
  lib/pleroma/web/streamer.ex
  priv/repo/migrations/20221203232118_add_user_follows_hashtag.exs
  test/pleroma/user_test.exs
  test/pleroma/web/activity_pub/activity_pub_test.exs
  test/pleroma/web/mastodon_api/controllers/tag_controller_test.exs
  test/pleroma/web/streamer_test.exs
  test/support/factory.ex
Due: build, spec-build, unit-testing, unit-testing-rum, lint, analysis, cycles

varnish config/docs (#342)
  docs/Pipfile.lock
  docs/docs/configuration/integrations/howto_ejabberd.md
  docs/docs/configuration/integrations/howto_mongooseim.md
  docs/docs/configuration/optimisation/optimizing_beam.md
  docs/docs/configuration/optimisation/varnish_cache.md
  docs/mkdocs.yml
  installation/akkoma.vcl
Due: none

Doc branding
  docs/docs/images/akko_badday.png
  docs/docs/images/favicon.ico
  docs/docs/images/favicon.png
  docs/docs/images/logo.png
  docs/mkdocs.yml
Due: none

update default favicon
  priv/static/favicon.png
Due: none

Allow dashes in domain name search
  lib/pleroma/user/search.ex
  test/pleroma/user/user_search_test.exs
  test/pleroma/web/activity_pub/activity_pub_test.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

DOCS: backup restore improvements (#332)
  docs/docs/administration/backup.md
Due: none

Diagnostics tasks (#348)
  docs/docs/administration/CLI_tasks/diagnostics.md
  lib/mix/tasks/pleroma/diagnostics.ex
  lib/pleroma/web/activity_pub/activity_pub.ex
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

static-fe overhaul (#236)
  .gitattributes
  CHANGELOG.md
  lib/pleroma/web/router.ex
  lib/pleroma/web/static_fe/static_fe_controller.ex
  lib/pleroma/web/static_fe/static_fe_view.ex
  lib/pleroma/web/templates/layout/static_fe.html.eex
  lib/pleroma/web/templates/static_fe/static_fe/_attachment.html.eex
  lib/pleroma/web/templates/static_fe/static_fe/_notice.html.eex
  lib/pleroma/web/templates/static_fe/static_fe/_user_card.html.eex
  lib/pleroma/web/templates/static_fe/static_fe/conversation.html.eex
  lib/pleroma/web/templates/static_fe/static_fe/error.html.eex
  lib/pleroma/web/templates/static_fe/static_fe/profile.html.eex
  lib/pleroma/web/views/layout_view.ex
  priv/static/static-fe/static-fe.css
  priv/static/static-fe/svg/globe-solid.svg
  priv/static/static-fe/svg/lock-open-solid.svg
  priv/static/static-fe/svg/lock-solid.svg
  priv/static/static-fe/svg/reply-solid.svg
  priv/static/static-fe/svg/retweet-solid.svg
  priv/static/static-fe/svg/star-regular.svg
  test/pleroma/web/static_fe/static_fe_controller_test.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

GOOGLE
  lib/pleroma/web/views/manifest_view.ex
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Document custom.css
  docs/docs/configuration/static_dir.md
Due: none

Redirect to standard FE if logged in
  lib/pleroma/web/plugs/static_fe_plug.ex
  lib/pleroma/web/router.ex
  lib/pleroma/web/static_fe/static_fe_controller.ex
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Add check for null reply_to_user
  lib/pleroma/web/templates/static_fe/static_fe/_notice.html.eex
Due: none

Add misskey markdown to format suggestions
  config/description.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Add issue template
  ISSUE_TEMPLATE.md
Due: none

Update 'ISSUE_TEMPLATE.md'
  ISSUE_TEMPLATE.md
Due: none

Add YAML issue templates for bug and feat
  .gitea/issue_template/bug.yml
  .gitea/issue_template/feat.yml
  ISSUE_TEMPLATE.md
Due: none

Fix tagpolicy to also work with Update
  lib/pleroma/web/activity_pub/mrf/tag_policy.ex
  test/pleroma/web/activity_pub/mrf/tag_policy_test.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Fix MRF policies to also work with Update
  lib/pleroma/web/activity_pub/mrf/activity_expiration_policy.ex
  lib/pleroma/web/activity_pub/mrf/anti_link_spam_policy.ex
  lib/pleroma/web/activity_pub/mrf/force_bot_unlisted_policy.ex
  lib/pleroma/web/activity_pub/mrf/hellthread_policy.ex
  lib/pleroma/web/activity_pub/mrf/mention_policy.ex
  lib/pleroma/web/activity_pub/mrf/simple_policy.ex
  lib/pleroma/web/activity_pub/mrf/tag_policy.ex
  test/pleroma/web/activity_pub/mrf/activity_expiration_policy_test.exs
  test/pleroma/web/activity_pub/mrf/anti_link_spam_policy_test.exs
  test/pleroma/web/activity_pub/mrf/force_bot_unlisted_policy_test.exs
  test/pleroma/web/activity_pub/mrf/hellthread_policy_test.exs
  test/pleroma/web/activity_pub/mrf/mention_policy_test.exs
  test/pleroma/web/activity_pub/mrf/simple_policy_test.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

mix format
  config/description.exs
  lib/pleroma/web/static_fe/static_fe_controller.ex
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Skip posts in indexer where publish date is nil
  lib/pleroma/search/elasticsearch/document_mappings/activity.ex
  lib/pleroma/search/meilisearch.ex
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

extend reject MRF to check if originating instance is blocked
  CHANGELOG.md
  config/config.exs
  lib/pleroma/config/deprecation_warnings.ex
  lib/pleroma/web/activity_pub/mrf/simple_policy.ex
  test/pleroma/web/activity_pub/mrf/simple_policy_test.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles
