Repository Hostdon/pleroma: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build, spec-build, unit-testing, unit-testing-rum, lint, analysis, cycles

Path conditions:
  build: any of: **/*.ex, **/*.exs, mix.lock
  spec-build: any of: lib/pleroma/web/api_spec/**/*.ex, lib/pleroma/web/api_spec.ex
  unit-testing: any of: **/*.ex, **/*.exs, mix.lock
  unit-testing-rum: any of: **/*.ex, **/*.exs, mix.lock
  lint: any of: **/*.ex, **/*.exs, mix.lock
  analysis: any of: **/*.ex, **/*.exs, mix.lock
  cycles: any of: **/*.ex, **/*.exs, mix.lock

reference "stable" in all URLs
  docs/docs/installation/migrating_from_source_otp_en.md
  docs/docs/installation/otp_en.md
  docs/docs/installation/verifying_otp_releases.md
Due: none

Include requested_by in relationship (#260)
  lib/pleroma/web/mastodon_api/views/account_view.ex
  test/pleroma/web/mastodon_api/views/account_view_test.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Update translation files
  priv/gettext/nl/LC_MESSAGES/posix_errors.po
Due: none

Translated using Weblate (Spanish)
  priv/gettext/es/LC_MESSAGES/errors.po
Due: none

add requested_by changelog entry
  CHANGELOG.md
Due: none

Update documentation builder
  docs/Pipfile.lock
Due: none

update requirements.txt
  docs/requirements.txt
Due: none

Fix typo in README
  README.md
Due: none

add manual deploy for docs
  .gitignore
  docs/Makefile
Due: none

strip \r and \r from content-disposition filenames
  lib/pleroma/web/plugs/uploaded_media.ex
  test/pleroma/web/plugs/uploaded_media_plug_test.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Add media sources to connect-src if media proxy is enabled
  lib/pleroma/web/plugs/http_security_plug.ex
  test/pleroma/web/plugs/http_security_plug_test.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

fix requirements
  docs/requirements.txt
Due: none

Chores for 2022.11
  CHANGELOG.md
  README.md
  lib/pleroma/web/plugs/http_security_plug.ex
  mix.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

change default redirectRootNoLogin to /main/public
  config/config.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Add configurable timeline per oban job (#273)
  config/config.exs
  config/description.exs
  lib/pleroma/workers/backup_worker.ex
  lib/pleroma/workers/purge_expired_activity.ex
  lib/pleroma/workers/purge_expired_filter.ex
  lib/pleroma/workers/purge_expired_token.ex
  lib/pleroma/workers/worker_helper.ex
  test/pleroma/workers/purge_expired_activity_test.exs
  test/pleroma/workers/scheduled_activity_worker_test.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Remove references to soykaf
  docs/docs/development/API/differences_in_mastoapi_responses.md
  docs/docs/development/API/prometheus.md
  docs/docs/index.md
Due: none

and i yoink (#275)
  lib/pleroma/web/federator.ex
  lib/pleroma/workers/backup_worker.ex
  lib/pleroma/workers/purge_expired_activity.ex
  lib/pleroma/workers/purge_expired_filter.ex
  lib/pleroma/workers/purge_expired_token.ex
  lib/pleroma/workers/worker_helper.ex
  test/pleroma/workers/publisher_worker_test.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

docs: Update links to list of akkoma instances
  docs/docs/index.md
Due: none

Set instance reachable on fetch
  lib/pleroma/object/fetcher.ex
  test/pleroma/object/fetcher_test.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Be very specific about the double-quotes in strings
  docs/docs/configuration/cheatsheet.md
Due: none

Update copyright info
  COPYING
Due: none

microblogpub federation fixes (#288)
  lib/pleroma/http/adapter_helper.ex
  lib/pleroma/user.ex
  lib/pleroma/web/activity_pub/activity_pub.ex
  test/fixtures/microblogpub/user_with_invalid_also_known_as.json
  test/pleroma/object/fetcher_test.exs
  test/pleroma/user_test.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

docs: Update list of clients (#284)
  docs/docs/clients.md
Due: none

Add `languages` to cheatsheet
  docs/docs/configuration/cheatsheet.md
Due: none

Drop XSS auditor
  docs/docs/configuration/hardening.md
  docs/docs/configuration/i2p.md
  docs/docs/configuration/onion_federation.md
  docs/docs/installation/openbsd_en.md
  lib/pleroma/web/plugs/http_security_plug.ex
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

HTTP header improvements (#294)
  config/config.exs
  config/description.exs
  docs/docs/configuration/cheatsheet.md
  docs/docs/configuration/hardening.md
  docs/docs/configuration/i2p.md
  docs/docs/configuration/onion_federation.md
  docs/docs/installation/openbsd_en.md
  lib/pleroma/web/plugs/http_security_plug.ex
  priv/gettext/ca/LC_MESSAGES/config_descriptions.po
  priv/gettext/config_descriptions.pot
  priv/gettext/es/LC_MESSAGES/config_descriptions.po
  priv/gettext/nl/LC_MESSAGES/config_descriptions.po
  test/pleroma/web/plugs/http_security_plug_test.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Add favicon, frontend docs
  docs/docs/configuration/howto_theming_your_instance.md
  docs/docs/configuration/static_dir.md
  docs/docs/installation/migrating_to_akkoma.md
Due: none

Add conversationDisplay to settings
  config/config.exs
  config/description.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Remove reference to pleroma-fox-tan-shy.png in COPYING
  COPYING
Due: none

Change follow_operation schema to use type BooleanLike (#301)
  CHANGELOG.md
  lib/pleroma/web/api_spec/operations/account_operation.ex
  test/pleroma/web/mastodon_api/controllers/account_controller_test.exs
Due: build, spec-build, unit-testing, unit-testing-rum, lint, analysis, cycles

http timeout config (#307)
  CHANGELOG.md
  config/config.exs
  config/description.exs
  docs/docs/configuration/cheatsheet.md
  lib/pleroma/http/adapter_helper/default.ex
  test/pleroma/http/adapter_helper_test.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

change default allow_relay to false
  config/config.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Remove reference to city.jpg in COPYING
  COPYING
Due: none

Note that openbsd needs erlang-wx
  docs/docs/installation/openbsd_en.md
Due: none

Add Signed Fetch Statistics (#312)
  lib/pleroma/application.ex
  lib/pleroma/instances.ex
  lib/pleroma/instances/instance.ex
  lib/pleroma/web/plugs/http_signature_plug.ex
  priv/repo/migrations/20221123221956_add_has_request_signatures.exs
  test/pleroma/instances_test.exs
  test/pleroma/web/plugs/http_signature_plug_test.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

minor-changes (#313)
  docs/docs/configuration/hardening.md
  docs/docs/installation/docker_en.md
  lib/pleroma/object/fetcher.ex
  lib/pleroma/web/activity_pub/activity_pub.ex
  lib/pleroma/web/api_spec/operations/twitter_util_operation.ex
Due: build, spec-build, unit-testing, unit-testing-rum, lint, analysis, cycles

fix tests broken by relay defaults changing (#314)
  .woodpecker.yml
  CHANGELOG.md
  lib/mix/tasks/pleroma/user.ex
  mix.exs
  mix.lock
  test/pleroma/user/import_test.exs
  test/pleroma/user_search_test.exs
  test/pleroma/web/activity_pub/activity_pub_controller_test.exs
  test/pleroma/web/federator_test.exs
  test/pleroma/web/mastodon_api/controllers/timeline_controller_test.exs
  test/pleroma/web/media_proxy/invalidation/script_test.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Turn on markup normalisation by default
  lib/pleroma/web/activity_pub/mrf.ex
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles
