Repository Hostdon/pleroma: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build, spec-build, unit-testing, unit-testing-rum, lint, analysis, cycles

build:
  stage: build
  script:
  - mix compile --force

spec-build:
  stage: test
  artifacts:
    paths:
    - spec.json
  script:
  - mix pleroma.openapi_spec spec.json

unit-testing:
  stage: test
  retry: 2
  cache:
    key:
      files:
      - mix.lock
    paths:
    - deps
    - _build
    policy: pull
  services:
  - name: postgres:13
    alias: postgres
    command:
    - postgres
    - -c
    - fsync=off
    - -c
    - synchronous_commit=off
    - -c
    - full_page_writes=off
  script:
  ...

unit-testing-rum:
  stage: test
  retry: 2
  cache:
    key:
      files:
      - mix.lock
    paths:
    - deps
    - _build
    policy: pull
  services:
  - name: minibikini/postgres-with-rum:12
    alias: postgres
    command:
    - postgres
    - -c
    - fsync=off
    - -c
    - synchronous_commit=off
    - -c
    - full_page_writes=off
  variables:
  ...

lint:
  stage: test
  cache:
    key:
      files:
      - mix.lock
    paths:
    - deps
    - _build
    policy: pull
  script:
  - mix format --check-formatted

analysis:
  stage: test
  cache:
    key:
      files:
      - mix.lock
    paths:
    - deps
    - _build
    policy: pull
  script:
  - mix credo --strict --only=warnings,todo,fixme,consistency,readability

cycles:
  stage: test
  image: elixir:1.11
  cache: {}
  script:
  - mix deps.get
  - mix compile
  - mix xref graph --format cycles --label compile | awk '{print $0} END{exit ($0 != "No cycles found")}'

Extract deactivated users query to a join
  lib/pleroma/activity.ex
  lib/pleroma/web/activity_pub/activity_pub.ex
  mix.exs
  mix.lock
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Use inner lateral join to not get dropped in :total
  lib/pleroma/activity.ex
  lib/pleroma/web/activity_pub/activity_pub.ex
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

format
  lib/pleroma/activity.ex
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

optimise notifications query
  CHANGELOG.md
  lib/pleroma/following_relationship.ex
  lib/pleroma/notification.ex
  lib/pleroma/web/mastodon_api/mastodon_api.ex
  test/pleroma/notification_test.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Ensure deletes are handled after everything else
  CHANGELOG.md
  config/config.exs
  lib/mix/tasks/pleroma/user.ex
  lib/pleroma/web/activity_pub/side_effects.ex
  lib/pleroma/web/federator.ex
  lib/pleroma/web/mastodon_api/mastodon_api.ex
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Check that the signature matches the creator
  lib/pleroma/web/activity_pub/publisher.ex
  lib/pleroma/web/plugs/mapped_signature_to_identity_plug.ex
  test/pleroma/web/activity_pub/activity_pub_controller_test.exs
  test/pleroma/web/plugs/mapped_signature_to_identity_plug_test.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

bump version
  CHANGELOG.md
  mix.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Docker builds (#231)
  .dockerignore
  .gitignore
  CHANGELOG.md
  Dockerfile
  config/docker.exs
  docker-compose.yml
  docker-entrypoint.sh
  docker-resources/Caddyfile.example
  docker-resources/build.sh
  docker-resources/database/Dockerfile
  docker-resources/env.example
  docker-resources/manage.sh
  docs/docs/installation/docker_en.md
  docs/docs/installation/frontends.include
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

add DB restart to docker file
  docs/docs/installation/docker_en.md
Due: none

Add docker migration guide
  docker-compose.yml
  docs/docs/installation/docker_en.md
  docs/docs/installation/migrating_to_docker_en.md
Due: none

Unilateral remove from followers (#232)
  CHANGELOG.md
  lib/pleroma/web/api_spec/operations/account_operation.ex
  lib/pleroma/web/mastodon_api/controllers/account_controller.ex
  lib/pleroma/web/router.ex
  test/pleroma/user_test.exs
  test/pleroma/web/activity_pub/activity_pub_test.exs
  test/pleroma/web/mastodon_api/controllers/account_controller_test.exs
Due: build, spec-build, unit-testing, unit-testing-rum, lint, analysis, cycles

Remove unused DATA arg
  Dockerfile
Due: none

document local_bubble
  docs/docs/configuration/cheatsheet.md
Due: none

fix flaky participation_test.exs
  test/pleroma/conversation/participation_test.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

fix flaky test_user_relationship_test.exs:81
  lib/pleroma/user_relationship.ex
  test/pleroma/user_relationship_test.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Add StopGifs to description
  config/description.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Reword stop gifs
  config/description.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Fix LDAP user registration (#229)
  lib/pleroma/web/auth/ldap_authenticator.ex
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Fix tests in ldap registration
  CHANGELOG.md
  test/pleroma/web/o_auth/ldap_authorization_test.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Fix rate_limiter_test.exs test "it restricts based on config values" (#233)
  test/pleroma/web/plugs/rate_limiter_test.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

fix_flaky_transfer_task_test.exs (#237)
  restarter/lib/pleroma.ex
  restarter/mix.exs
  test/pleroma/config/transfer_task_test.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Change default instance name to "Akkoma"
  config/config.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Add default favicon
  priv/static/favicon.png
Due: none

Fix instance name in email test
  test/pleroma/emails/user_email_test.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Scrape instance nodeinfo (#251)
  config/config.exs
  config/description.exs
  config/test.exs
  lib/pleroma/application.ex
  lib/pleroma/instances/instance.ex
  lib/pleroma/web/activity_pub/side_effects.ex
  lib/pleroma/web/mastodon_api/views/account_view.ex
  lib/pleroma/workers/nodeinfo_fetcher_worker.ex
  priv/repo/migrations/20221020135943_add_nodeinfo.exs
  test/pleroma/instances/instance_test.exs
  test/pleroma/web/activity_pub/side_effects_test.exs
  test/pleroma/web/mastodon_api/views/account_view_test.exs
  test/pleroma/web/streamer_test.exs
  test/support/factory.ex
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Changelog
  CHANGELOG.md
Due: none

Add enabled check on /translation/languages
  lib/pleroma/web/akkoma_api/controllers/translation_controller.ex
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Fix regex usage in MRF (#254)
  CHANGELOG.md
  lib/pleroma/web/activity_pub/mrf.ex
  test/pleroma/user_test.exs
  test/pleroma/web/activity_pub/mrf/simple_policy_test.exs
  test/pleroma/web/activity_pub/mrf_test.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Add "differences" in readme
  README.md
Due: none

Add rollbacks for associated_object_id
  docs/docs/installation/migrating_to_akkoma.md
  priv/repo/optional_migrations/pleroma_develop_rollbacks/20220711182322_add_associated_object_id_function.exs
  priv/repo/optional_migrations/pleroma_develop_rollbacks/20220711192750_switch_to_associated_object_id_index.exs
  priv/repo/optional_migrations/pleroma_develop_rollbacks/20220821004840_change_thread_visibility_to_use_new_object_id_index.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Update finch
  mix.exs
  mix.lock
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

automatically trim loading *. prefixes on domain blocks
  CHANGELOG.md
  lib/pleroma/web/activity_pub/mrf.ex
  test/pleroma/web/activity_pub/mrf/simple_policy_test.exs
  test/pleroma/web/activity_pub/mrf_test.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Don't mess with the cache on metadata update
  lib/pleroma/application.ex
  lib/pleroma/instances/instance.ex
  test/pleroma/instances/instance_test.exs
  test/pleroma/web/admin_api/views/report_view_test.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Add fallback for reports that don't have attached activities
  lib/pleroma/web/mastodon_api/views/status_view.ex
  test/pleroma/web/admin_api/views/report_view_test.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

make metdata check a debug log
  lib/pleroma/instances/instance.ex
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

fix count of poll voters
  lib/pleroma/web/mastodon_api/views/poll_view.ex
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Remove unused pattern
  lib/pleroma/instances/instance.ex
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Path conditions:
  build: any of: **/*.ex, **/*.exs, mix.lock
  spec-build: any of: lib/pleroma/web/api_spec/**/*.ex, lib/pleroma/web/api_spec.ex
  unit-testing: any of: **/*.ex, **/*.exs, mix.lock
  unit-testing-rum: any of: **/*.ex, **/*.exs, mix.lock
  lint: any of: **/*.ex, **/*.exs, mix.lock
  analysis: any of: **/*.ex, **/*.exs, mix.lock
  cycles: any of: **/*.ex, **/*.exs, mix.lock
